.wrapper{
  display: flex;
}

.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat_header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header_title{
  color: #333333;
  font-size: 24px;
  margin: 36px;
}
.header_button{
  margin-top: 40px;
}
.header_button a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.messages{
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.message{
  margin: 10px 0 0 0;
}
.upper_message{
  display: flex;
}
.message_user{
  color: #434a54;
  font-size: 16px;
}
.message_date{
  color: #999999;
  font-size: 12px;
  padding-left: 10px;
}
.lower_message{
  margin-top: 10px;
}
.message_content{
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}

.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px; 
  display: flex; 
}
.form_input{
  background-color: white;
  width: 100%;
  display: flex;
}
.form_message{
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border-style: none;
}
.form_submit{
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  height: 50px;
  margin-left: 15px;
  border-style: none;
}
.form_image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden{
  display: none;
}
.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side_bar_header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.create_room{
  font-size: 10px;
}
.create_room a{
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room_name a{
  color: white;
  text-decoration: none;
}